body,html{
	margin:0px
}
body{

	background-color:red;

}
body,input,select,label{
	font-size:4vw
}
h3{
	color:black;
	font-size:4.5vw;
}
select{
	width:50%;
}
input[type=checkbox]{
	width:5%;
	zoom:1.5
}
input[type=text]{
	background-color: white;
}
input[type=submit]{
	margin:5%;
    margin-left: 35%;
	height: 50px;
    width: 100px;
	font-family: sans-serif ;
	border-radius: 10px 10px 10px 10px;
	background-color: red;
	color: black;
	cursor: pointer;

}
form{
	border-radius: 10px 10px 10px 10px;
	margin: 1%;
	background-color:white;
	padding:3%;
	font-family: sans-serif ;
}
#resultadosDiv {
	position: relative;
	margin: 5%;
	background: white;
	text-align: center;	
	color: black;
	border-radius: 10px 10px 10px 10px;
	font-family: sans-serif ;
	font-size: 5vw;
}
#resultadoTotal {
	width: 80%;
	position: relative;
	margin: 10%;
	margin-top: 20%;
	background: white;
	text-align: center;	
	color: black;
	border-radius: 10px 10px 10px 10px;
	font-family: sans-serif ;
}
#total{
	font-size: 10vw;
}
#respuestasDetalladas{
	cursor: pointer;
}
#cabecera{
	border-radius: 10px 10px 10px 10px;
	position: relative;
    align-content: center;
	height: 45%;
	background-color: red;	
	margin: 1%;
	font-family: sans-serif ;
}
#logo{
	width: 40%;
}
#titulo{
	float: right;
	width: 60%;
    margin-top: 10%;
	text-align: center;	
	font-family: sans-serif;
	font-size: 10vw;
	color: black;
}

	

